{% extends "base.html" %}

{% block content %}

<p>Однажды</p>
  <audio controls>
  <!--  <source src="../static/media/Однажды.m4a" type="audio/mpeg; codecs=vorbis"  controls="controls">-->
    <source src="../static/media/Однажды.mp3" type="audio/mpeg">
    Тег audio не поддерживается вашим браузером.
    <a href="audio/music.mp3">Скачайте музыку</a>.
  </audio>
<br>
<p>Боль</p>
<audio controls>
  <source src="../static/media/Боль.mp3" type="audio/mpeg">
</audio>
<br>
<p>Лила</p>
<audio controls>
  <source src="../static/media/Лила.mp3" type="audio/mpeg">
</audio>


{% endblock %}
